html {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: Verdana;
    Font-Weight: Normal;
    Font-Size: 50px;
    color: white;
}

#link {
    color: aquamarine;
    font-size: 16px;
}